<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>
<div class="content">
    <h1 style="text-align: center" class="mt-4">WSZYSTKIE AUKCJE</h1>

    <form action="/auctions" method="get" th:object="${filters}">
        <input type="text" placeholder="Producent" th:field="*{carMaker}">
        <input type="text" placeholder="Model" th:field="*{carModel}">
        <input type="text" placeholder="Kolor" th:field="*{color}">
        <input type="submit" value="Filtruj" class="btn btn-primary"/>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>
                <a href="/auctions?sort=carMake">
                    Marka
                </a>
            </th>
            <th>
                <a href="/auctions?sort=carModel">
                    Model
                </a>
            </th>
            <th>
                <a href="/auctions?sort=price">
                    Cena
                </a>
            </th>
            <th>
                <a href="/auctions?sort=color">
                    Kolor
                </a>
            </th>
            <th>
                <a href="/auctions?sort=endDate">
                    Do kiedy
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car: ${cars}">
            <td th:text="${car.carMake}"></td>
            <td th:text="${car.carModel}"></td>
            <td th:text="|${car.price} zł|"></td>
            <td th:text="${car.color}"></td>
            <td th:text="|${car.endDate}|"></td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>